body {
  font-family: "Poppins";
  background-color: #5e488c;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Suffragettes%2C_England%2C_1908.JPG/440px-Suffragettes%2C_England%2C_1908.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
h1 {
  font-weight: 700;
  font-size: 96px;
  margin: 60px 0 30px;
  line-height: 1.5;
}

h2 {
  font-weight: 400;
  font-size: 60px;
  margin: 0 0 30px;
  padding: 10px;
}

header a {
  padding: 10px 20px;
  background-color: #5e488c;
  color: white;
  box-shadow: 12px 18px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  text-transform: capitalize;
  margin: 20px 0;
}

header a:hover {
  border: solid 1px #5e488c;
  box-shadow: inset 7px 7px 10px rgba(0, 0, 0, 0.3);
}

main {
  background-color: white;
}

main h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: #5e488c;
  letter-spacing: 3px;
  margin: 0;
}

main h3 {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

main p {
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.7;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

footer {
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(94, 72, 140, 0.7),
      rgba(94, 72, 140, 0.7)
    ),
    url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Suffragettes%2C_England%2C_1908.JPG/440px-Suffragettes%2C_England%2C_1908.JPG");
}

section {
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: #e0d8f1fa;
}

.text-center {
  text-align: center;
}

.card {
  background-color: white;
  padding: 10px;
  box-shadow: 6px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
}

.card h4 {
  font-weight: 500;
  margin-bottom: 10px;
}

.card h5 {
  margin-bottom: 0;
}

.card p {
  opacity: 0.6;
  line-height: 1.5;
  margin: 0;
}

.card .button {
  display: block;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  background-color: #5e488c;
  color: white;
  margin-top: 20px;
  transition: 100ms ease-in-out;
}

.card .button:hover {
  border: solid 1px #5e488c;
  background-color: white;
  color: #5e488c;
}

.card-body {
  padding: 0 20px 10px;
}

.grid {
  display: grid;
  grid-gap: 20px;
}

.grid-3-col {
  grid-template-columns: 1fr 2fr 1fr;
}

.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-3-equal-col {
  grid-template-columns: 1fr 1fr 1fr;
}

footer h3 {
  font-weight: 500;
}

footer p {
  font-size: 14px;
}

footer li {
  font-size: 14px;
  list-style: none;
}

footer ul {
  padding: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #5e488c;
  text-decoration: underline;
}

@media (max-width: 900px) {
  header {
    padding: 30px 0;
  }

  h1 {
    font-size: 55px;
    margin: 30px 0 10px;
    line-height: 1;
  }

  h2 {
    font-size: 40px;
    margin: 0 0 20px;
  }

  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
  }
}
